
body{ background-color: cornsilk;
}
 span {font-size: 50px;
     border-style: outset;
    border-radius: 40px; 
    border-width: 10px;
    border-color:rgb(236, 118, 187);
     color:rgb(250, 161, 176);
     margin-left: 520px;
    padding:0px 10px 10px 10px;}

p {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 2px 1px rgb(197, 13, 126);
    color:rgb(46, 21, 29);
    text-align: center;
    padding: .5px;
}
footer{color: rgb(120, 168, 29);
text-align-last: center}
section { color: rgb(59, 42, 49);
   
    border: 20px;
    border-color: rgb(17, 77, 241);
    
    
    }
    .topten p {
        color: rgb(245, 8, 213);
        text-align: center;
    }
   ul li ul li {
        border-style: solid;
        border-width: 1px;
        padding: 10px;
    background-color: rgb(219, 112, 18);
        }
        ul li {padding: 10px;
        margin-bottom: 10px;}
  
            
     .first { padding-top: 50px;}